@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-surface text-primary; */
  }

  @font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansXFaNum-ThinD4.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansXFaNum-UltraLightD4.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansXFaNum-LightD4.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansXFaNum-RegularD4.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansXFaNum-MediumD4.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansXFaNum-DemiBoldD4.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansXFaNum-BoldD4.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansXFaNum-ExtraBoldD4.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansXFaNum-BlackD4.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
}